---
layout: essay.njk
pagination:
    data: sanity.essays
    size: 1
    alias: essay
permalink: "content/essays/{{ essay.slug.current }}/"
---
<!-- This template generates individual pages from Sanity data -->
