---
layout: soul-state.njk
pagination:
    data: sanity.states
    size: 1
    alias: state
permalink: "content/states/{{ state.slug.current }}/"
---
<!-- This template generates individual pages from Sanity data -->
